.section {
    width: 100%;
    max-width: 853px;
}
.wrapper {
    margin-bottom: 32px;
    line-height: 24px;
    color: var(--color-dark);
}
.img {
    width: 100%;
    max-width: 853px;
}
.title {
    margin-top: 24px;
    font-weight: 500;
    font-size: 17px;
    line-height: 18px;
    color: var(--color-dark);
}
.date {
    margin-top: 8px;
    line-height: 15px;
    color: var(--color-dark);
}
.date span {
    color: var(--color-primary);
}
.text {
    margin-top: 16px;
    margin-bottom: 20px;
}
.btn {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin: 20px 0;
    font-size: 12px;
    background-color: var(--color-dark);
    color: var(--color-white);
    text-transform: uppercase;
}
.btn_wrapper {
    width: 100px;
    margin: 0 auto;
}
.nothing {
    margin-top: 40px;
    text-align: center;
    color: var(--color-dark-medium);
    font-size: 40px;
}