@use '@shared/styles/vars' as *;

.btn {
	position: absolute;
	top: 235px;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	border-radius: $border-round;
	border: 2px solid $color-white;
	background-color: $color-primary;
	@include transition-all;
}

.svg {
	width: 32px;
	height: 32px;

	path {
		fill: $color-white;
	}
}
