@import '../../../../shared/styles/vars';

.box {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.label {
	position: relative;
	@include transition-all;

	&.required {
		&::after {
			margin-left: 4px;
			content: '*';
			color: $color-primary;
		}
	}

	&.active {
		&::before {
			border-color: $color-primary;
		}

		&::after {
			background-color: $color-primary;
		}
	}

	&:hover {
		&::before {
			border-color: $color-primary;
		}
	}
}

.input {
	display: flex;
	width: 100%;
	padding: 5px 15px;
	height: 40px;
	border: 1px solid $color-border3;
	@include transition-all;

	input {
		display: none;
	}

	&::placeholder {
		letter-spacing: inherit;
		line-height: inherit;
		font-size: inherit;
		font-weight: inherit;
		font-family: inherit;
	}

	&:hover {
		border-color: $color-border-focus;
	}

	&:focus {
		border-color: $color-border-focus;

		&::placeholder {
			opacity: 0;
		}
	}

	&:checked {
		border-color: $color-primary;
	}

	&.error {
		border-color: $color-error;
	}

	.pickup {
		text-transform: capitalize;
	}
}
.password_btn {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(calc(-50% + 12px));

	.password_icon {
		width: 20px;
		height: 20px;
	}

	&:hover {
		.password_icon path {
			fill: $color-primary;
		}
	}
}
.error_popover {
	transform: translateX(106%) translateY(calc(-50% + 12px)) !important;
	right: -30px !important;
}
