.section {
    margin-top: 28px;
}
.heading {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: var(--color-dark-medium);
    text-transform: uppercase;
}
.list {
    margin-top: 15px;
}
.category {
    font-size: 13px;
    line-height: 35px;
    color: var(--color-dark-medium);
    transition: .2s;
    cursor: pointer;
}
.chosen {
    font-size: 13px;
    line-height: 35px;
    color: var(--color-primary);
    transition: .2s;
    cursor: pointer;
}
.category:hover {
    color: var(--color-primary);
}
.checked_category {
    font-size: 13px;
    line-height: 35px;
    color: var(--color-primary);
}