@import '../../../shared/styles/vars';

.pagination {
	display: flex;
	justify-content: center;
	gap: 9px;
	padding: 8px 0;
	height: 46px;
	border: 1px solid $color-border3;
}
.list {
	display: flex;
	gap: 9px;
}
.btn {
	padding: 0 5px;
	min-width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 3px;
	background-color: $color-pagination-item-background;
	cursor: pointer;
	@include transition-all;

	&.active {
		color: $color-white;
		background-color: $color-primary;
	}

	&:hover {
		color: $color-white;
		background-color: $color-primary;
	}

	&:disabled {
		opacity: 0.5;
		color: $color-dark;
		background-color: $color-pagination-item-background;
		cursor: not-allowed;
	}
}
