.heading {
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    border-radius: 10px 10px 0px 0px;
    font-family: 'Work Sans', sans-serif;
    color: var(--color-white);
    background-color: var(--color-primary);
}
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px 30px;
    background-color: var(--color-white);
}
.img {
    margin-bottom: 16px;
    width: 326px;
    height: 326px;
}
.sale {
    position: absolute;
    z-index: 2;
    margin-top: 39px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: var(--color-white);
    padding: 0 4px;
    background: var(--color-primary);
    border-radius: 5px;
    text-align: center;
    margin-left: 44px;
}
.name {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    color: var(--color-dark);
    margin-top: 16px;
}
.category {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: var(--color-dark);
    margin-top: 16px;
}
.price {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 16px;
    color: var(--color-primary);
    margin-top: 12px;
}
.newprice {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: var(--color-dark);
    margin-left: 10px;
}
.new {
    position: absolute;
    z-index: 2;
    margin-top: 39px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: var(--color-white);
    padding: 0 4px;
    background: var(--color-primary);
    border-radius: 5px;
    text-align: center;
    margin-left: 282px;
}