@use '@shared/styles/mixins' as *;
@use '@shared/styles/vars' as *;

.box {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 5px;
	padding: 2px 0 8px 0;
}

.item {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 10px;
}

.checkbox {
	width: 20px;
	min-height: 20px;
	border-radius: $border-radius-m;
	@include skeleton;
}

.brand {
	width: 140px;
	min-height: 20px;
	border-radius: $border-radius-m;
	@include skeleton;
}

.quantity {
	margin-left: auto;
	width: 20px;
	min-height: 20px;
	border-radius: $border-radius-m;
	@include skeleton;
}
