@use '@shared/styles/vars' as *;

.search {
	position: relative;
}

.input {
	input {
		margin-bottom: 22px;
		padding: 0 30px 0 15px;
		height: 35px;
		font-size: 14px;
		border-color: $color-border2;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		&::placeholder {
			letter-spacing: 0.32px;
			font-size: 12px;
			color: $color-dark;
			opacity: 0.6;
		}

		&:hover {
			border-color: $color-primary;
		}

		&:focus {
			border-color: $color-primary;
		}
	}
}

.btn_close {
	position: absolute;
	top: 8px;
	right: 8px;
	opacity: 0;
	cursor: pointer;
	@include transition-all;

	&.active {
		opacity: 1;
	}

	.icon_close {
		width: 11px;
		height: 11px;
		fill: $color-dark;
		@include transition-all;

		&:hover {
			fill: $color-dark2;
		}
	}
}

.popover {
	position: absolute;
	top: 87px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-height: 0;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	border-radius: 3px;
	border: 1px solid $color-border;
	background-color: $color-white;
	box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
	z-index: $z-index100;
	@include transition-all;

	&.active {
		visibility: visible;
		opacity: 1;
		max-height: 300px;
	}

	&_item {
		padding: 0 20px 0 30px;
		width: 100%;
		text-transform: capitalize;
		line-height: 38px;
		font-size: 14px;
		font-weight: 400;

		&:hover {
			color: $color-primary;
			cursor: pointer;
		}
	}

	&_empty {
		padding: 0 20px 0 30px;
		width: 100%;
		line-height: 38px;
		font-size: 14px;
		font-weight: 400;
	}
}

.bottom {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.current_search {
	position: relative;
	text-transform: capitalize;
	text-align: right;
	vertical-align: middle;
}
.reset_current_search {
	position: absolute;
	top: 50%;
	right: -5px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px;
	font-size: 10px;
	line-height: 10px;
	border-radius: 5px;
	opacity: 0;
	transform: translateX(100%) translateY(-50%);
	@include transition-all;

	&.active {
		opacity: 1;
	}
}
.reset_svg {
	width: 10px;
	height: 10px;
}
