@use '@shared/styles/vars' as *;

.list {
	margin-bottom: 15px;
}

.link {
	text-transform: capitalize;
	width: 100%;

	&.active {
		color: $color-primary;
	}

	&:hover {
		color: $color-primary;
	}
}

.border {
	margin-bottom: 10px;
}
