@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.navbar {
	position: relative;
	width: 100%;
	background-color: $color-white;
	z-index: $z-index200;
	@include transition-all;
}

.sticky {
	position: fixed;
	top: 0;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 1px 3px rgb(0 0 0 / 11%);
	animation-name: navbarAppear;
	animation-duration: 0.9s;
	animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
	animation-iteration-count: 1;
	z-index: $z-index300;
}

@keyframes navbarAppear {
	0% {
		opacity: 0;
		top: -15px;
	}
	100% {
		opacity: 1;
		top: 0;
	}
}

.bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;

	.sticky & {
		flex-direction: row;
		gap: 24px;
	}

	@include tablet {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	@include tablet-l {
		grid-template-columns: 268px 1fr auto;
		gap: 24px;
	}

	.search {
		display: block;
		width: 100%;

		@include tablet-l {
			display: none;
		}
	}
}

.nav {
	display: none;

	@include tablet-l {
		display: flex;
		align-items: center;
		gap: var(--grid-gap);
	}

	@include laptop-m {
		gap: 37px;
	}

	&_link {
		&.active {
			color: $color-primary;
		}
	}

	&_link,
	.sub_nav_trigger {
		text-transform: capitalize;
		white-space: pre;
		line-height: 50px;
		font-size: 15px;
		font-weight: 500;

		&:focus {
			outline: 0;
		}

		&:hover {
			color: $color-primary;
		}
	}

	.sub_nav_trigger {
		display: flex;
		align-items: center;
		gap: 6px;
		@include transition-all;

		&:hover {
			.svg path {
				fill: $color-primary;
			}

			.sub_nav {
				visibility: visible;
				max-height: 360px;
				padding: 25px 30px 30px;

				&.single_col {
					padding: 24px 20px;
				}
			}
		}
	}

	.sub_nav_trigger {
		position: relative;
		cursor: default;

		.svg {
			width: 13px;
			height: 13px;
			rotate: 90deg;
		}

		.sub_nav {
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			gap: 60px;
			padding: 0 30px;
			max-height: 0;
			background-color: $color-white;
			translate: 0 50px;
			box-shadow: $box-shadow-header-nav-list;
			overflow: hidden;
			visibility: hidden;
			z-index: $z-index300;
			transition: 0.5s;

			&.single_col {
				padding: 0 20px;

				.nav_item {
					line-height: 32px;
				}

				.nav_link {
					line-height: inherit;
					font-weight: $weight-normal;
				}
			}

			.nav_col {
				display: flex;
				flex-direction: column;
				gap: 12px;

				.nav_col_title {
					white-space: pre;
					line-height: 24px;
					font-size: 15px;
					font-weight: $weight-medium;
					color: $color-dark;
				}

				.nav_list {
					.nav_item {
						line-height: 30px;

						.nav_link {
							line-height: inherit;
							font-weight: $weight-normal;
						}
					}
				}
			}
		}
	}
}
