@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.heading {
	margin-bottom: -23px;
	font-weight: 500;
	line-height: 26px;
	font-size: 24px;
	color: $color-dark;
}

.box {
	display: flex;
	flex-direction: column;
	gap: 25px;

	@include between(tablet-s, tablet) {
		margin: 0 10px;
	}

	@include tablet-l {
		margin: 0 10px;
	}
}
