@import '../../../../shared/styles/vars';

.section {
	margin-top: 28px;
}

.heading {
	text-transform: uppercase;
	line-height: 20px;
	font-size: 15px;
	font-weight: 500;
	color: red;
}

.comments {
	margin-top: 20px;
}

.comment {
	display: flex;
	align-items: center;
	margin-top: 15px;
	width: 100%;
}

.comment:focus {
	outline: 0;
}

.img {
	width: 50px;
	height: 50px;
}

.body {
	margin-left: 10px;
	line-height: 20px;
	font-size: 14px;
	color: $color-dark
}

.body span {
	font-size: 12px;
}

.primary {
	color: $color-primary;
}
