@import '../../../shared/styles/vars';

.sizes {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.item {
	display: flex;
	margin-bottom: 8px;
	line-height: 20px;
}

.img {
	border: 1px solid $color-border3;
}

.type {
	font-size: 20px;
	font-weight: 600;
}

.size {
	margin-left: 12px;
	font-weight: 400;
}
