@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.title {
	margin-bottom: 22px;
	text-transform: capitalize;
	letter-spacing: $letter-spacing-md;
	line-height: 20px;
	font-size: 20px;
	font-weight: $weight-medium;

	@include tablet {
		margin-bottom: 25px;
		font-size: 21px;
	}
}

.input {
	margin-bottom: 20px;

	label {
		margin-bottom: 12px;
		text-transform: capitalize;
		line-height: 12px;
		font-size: 16px;
	}

	span {
		top: 27px;
		height: 45px;
	}

	input {
		padding: 0 20px;
		height: 45px;
		border-color: $color-border2;
	}

	&.textarea {
		height: 170px;

		label {
			&::after {
				color: $color-dark;
			}
		}
	}
}

.button {
	display: flex;
	justify-self: flex-end;
	padding: 0 20px;
	min-width: 95.5px;
	height: 42px;
	line-height: 42px;
	font-size: 13px;
	font-weight: $weight-medium;
	background-color: $color-dark;
	border-radius: $border-radius-s;

	@include tablet {
		justify-self: flex-start;
		padding: 0 30px;
		font-size: 14px;
	}

	&:hover {
		background-color: $color-primary;
	}
}
