@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.item {
	display: block;
	padding-bottom: 15px;

	&:not(:last-child) {
		border-bottom: 1px solid $color-border2;
	}

	@include tablet {
		display: table-row;
	}

	@include tablet-l {
		height: 190px;
	}

	td {
		display: block;
		text-align: center;
		vertical-align: middle;
		padding: 25px 10px 5px;

		@include tablet {
			display: table-cell;
			padding: 10px;
			border-right: 1px solid $color-border2;
			border-bottom: 1px solid $color-border2;
		}

		& .delete_svg {
			cursor: pointer;

			&:hover path {
				fill: $color-error;
			}
		}

		&.image {
			padding: 0 30px;

			@include tablet {
				padding: 15px;
			}

			@include tablet-l {
				padding: 20px;
			}

			.link {
				display: block;
				width: 100%;
				@include transition-all;

				@include breakpoint(480px) {
					margin: 0 auto;
					max-width: 260px;
				}

				@include tablet {
					margin: 0;
					max-width: 100%;
				}

				.img {
					width: 100%;

					@include tablet {
						min-width: 75px;
					}

					@include tablet-l {
						min-width: 130px;
					}
				}
			}

			&:hover {
				& .link {
					opacity: 0.8;
				}
			}
		}

		&.name {
			padding: 10px;

			.link {
				line-height: 16px;

				&:hover {
					color: $color-primary;
				}
			}
		}

		&.price {
			padding: 10px;
			font-size: 16px;
			font-weight: $weight-medium;
		}

		&.quantity {
			padding: 10px;
			font-weight: $weight-medium;

			.box {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 10px;
			}

			.input {
				padding: 0 5px 0 10px;
				width: 60px;
				height: 40px;
				border: 1px solid $color-border2;
			}
		}

		&.total {
			padding: 10px;
		}
	}
}
