@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.popover {
	position: absolute;
	top: calc(100% + 1px);
	left: 0;
	display: grid;
	padding: 20px 20px 20px 30px;
	height: auto;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	border-radius: 3px;
	border: 1px solid $color-border;
	background-color: $color-white;
	box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
	z-index: $z-index-1;
	@include transition-all;

	&.active {
		visibility: visible;
		opacity: 1;
		z-index: $z-index300;
	}

	&.sticky {
		min-width: min(320px, 92vw);

		@include mobile-m {
			min-width: min(375px, 93.5vw);
		}

		@include mobile-l {
			min-width: min(425px, 94.5vw);
		}

		@include tablet-s {
			min-width: initial;
		}
	}
}

.list {
	display: grid;
	gap: 10px;
}

.btn_related {
	display: inline-flex;
	margin-top: 10px;
	@include transition-all;

	&:hover {
		color: $color-primary;
	}
}

.divider {
	margin: 20px -21px 15px -30px;
	height: 6px;
	background-color: $color-border;
}

.recent {
	display: grid;
	gap: 10px;

	.title {
		line-height: 12px;
		font-size: 12px;
		font-weight: $weight-normal;
		color: $color-dark;
	}

	&_list {
		display: grid;
		gap: 10px;
	}

	&_item {
		display: grid;
		grid-auto-flow: column;
		align-items: center;
		grid-template: auto / auto auto 1fr;
		gap: 15px;

		span {
			justify-self: start;
		}

		& .icon:last-child {
			margin-left: auto;
		}
	}

	&_name {
		line-height: 17px;
		font-size: 15px;
		font-weight: $weight-normal;
		cursor: pointer;
		@include transition-all;

		&:hover {
			color: $color-primary;
		}
	}
}

.icon {
	width: 20px;
	height: 20px;

	&.close {
		width: 12px;
		height: 12px;
	}

	&:last-child {
		cursor: pointer;
	}

	&:last-child:hover path {
		fill: $color-dark4;
	}

	path {
		fill: $color-grey;
	}
}
