@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.title {
	margin-bottom: 22px;
	text-transform: capitalize;
	letter-spacing: $letter-spacing-md;
	line-height: 20px;
	font-size: 20px;
	font-weight: $weight-medium;

	@include tablet {
		margin-bottom: 25px;
		font-size: 21px;
	}
}

.description {
	margin-bottom: 20px;
	letter-spacing: $letter-spacing-md;
}

.item {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 13px 0;
	border-top: 1px solid $color-border2;
}

.link {
	letter-spacing: $letter-spacing-md;

	&:hover {
		color: $color-primary;
	}
}

.icon {
	width: 14px;
	height: 14px;

	&.phone_icon {
		width: 13px;
	}
}
