@import '../../../styles/vars';

.main {
	display: grid;
	gap: 35px;
	grid-area: main;
}
.aside {
	grid-area: aside;
}
.title {
	margin-bottom: 15px;
	letter-spacing: $letter-spacing-lg-neg;
	line-height: 19px;
	font-size: 20px;
	font-weight: $weight-medium;
}
.credentials_list {
	display: grid;
	gap: 12px;
}
.credential_email,
.credential_password {
	display: grid;
	grid-template-columns: 335px 135px;
	align-items: end;
	gap: 10px;
}
.credential_input {
	& > input {
		cursor: default;

		&:hover {
			border-color: $color-border3;
		}

		&:focus {
			border-color: $color-border-focus;
		}
	}
}
.btn_credential {
	margin-bottom: 1px;
}
.btn_credential_text {
	text-transform: capitalize;
	line-height: 20px;
	font-size: 12px;
}
.form {
	display: grid;
	gap: 15px;
}
.avatar {
	position: relative;

	.label {
		text-transform: capitalize;
		font-size: 14px;
	}

	img {
		margin: 5px auto 0;
		width: 130px;
		height: 130px;
		border-radius: 50%;
		object-fit: cover;
		cursor: pointer;
	}

	.edit {
		position: absolute;
		bottom: 10px;
		right: 20px;
		cursor: pointer;
		@include transition-all;

		&_text {
			padding: 4px 8px;
			font-size: 12px;
			font-weight: $weight-medium;
			color: $color-white;
			border-radius: $default-border-radius;
			background-color: $color-border-sort;
			@include transition-all;

			&:hover {
				background-color: $color-dark;
			}
		}

		&_list {
			position: absolute;
			top: 100%;
			left: 0;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 10px 0;
			width: 156px;
			max-height: 0;
			color: $color-dark;
			background-color: $color-white;
			border-radius: $default-border-radius;
			box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
			visibility: hidden;
			opacity: 0;
			z-index: $z-index-1;
			@include transition-all;

			&.active {
				max-height: 101px;
				visibility: visible;
				opacity: 1;
				z-index: $z-index10;
			}
		}

		&_item {
			padding: 0 20px 0 30px;
			width: 100%;
			line-height: 38px;
			@include transition-all;

			&:hover {
				color: $color-primary;
			}
		}
	}
}

.input {
	text-transform: capitalize;

	& > label {
		line-height: 24px;
		font-size: 14px;
	}

	& > input {
		border-color: $color-border2;
	}
}
.form_actions {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
}
.auth_error {
	color: $color-error;
	opacity: 0;
	visibility: hidden;

	&.active {
		opacity: 1;
		visibility: visible;
	}
}
.btn_update_profile {
	justify-self: flex-end;
}
.btn_update_profile_text {
	text-transform: capitalize;
	line-height: 20px;
	font-size: 12px;
	font-weight: $weight-semi;
}
