@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.layout {
	display: flex;
	flex-direction: column-reverse;
	gap: 30px;

	@include tablet-l {
		flex-direction: row;
		justify-content: space-between;
		gap: 0 100px;
	}
}

.main {
	display: grid;
	gap: 35px;
	grid-area: main;
}

.aside {
	grid-area: aside;
}

.title {
	margin-bottom: 15px;
	letter-spacing: $letter-spacing-lg-neg;
	line-height: 19px;
	font-size: 20px;
	font-weight: $weight-medium;
}

.credentials_list {
	display: grid;
	gap: 16px;

	@include mobile-l {
		gap: 20px;
	}
}

.credential_email,
.credential_password {
	display: grid;
	grid-auto-flow: row;
	justify-items: start;
	align-items: end;
	gap: 20px;

	@include mobile-l {
		grid-auto-flow: column;
		grid-template-columns: 1fr auto;
		gap: 10px;
	}

	@include tablet-l {
		grid-template-columns: minmax(200px, 335px) auto;
	}
}

.credential_input {
	label {
		margin-bottom: 12px;
		line-height: 12px;
		font-size: 16px;
	}

	& > input {
		padding: 8px 15px 8px 20px;
		cursor: default;

		&:hover {
			border-color: $color-border3;
		}

		&:focus {
			border-color: $color-border-focus;
		}
	}
}

.btn_credential {
	margin-bottom: 1px;
	padding: 9px 15px;
	min-width: 140px;
}

.btn_credential_text {
	text-transform: capitalize;
	line-height: 20px;
	font-size: 12px;
}

.form {
	display: grid;
	gap: 16px;
}

.avatar {
	position: relative;
	display: inline-flex;
	flex-direction: column;

	.label {
		line-height: 12px;
		font-size: 16px;
	}

	img {
		margin: 10px 20px 0;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		object-fit: cover;
		cursor: pointer;

		@include tablet-l {
			margin: 5px auto 0;
			width: 130px;
			height: 130px;
		}
	}

	.edit {
		position: absolute;
		bottom: 0;
		right: 20px;
		cursor: pointer;
		@include transition-all;

		@include tablet-l {
			right: 0;
		}

		&_text {
			padding: 3px 6px;
			font-size: 12px;
			font-weight: $weight-medium;
			color: $color-white;
			border-radius: $default-border-radius;
			background-color: $color-border-sort;
			@include transition-all;

			&:hover {
				background-color: $color-dark;
			}
		}

		&_list {
			position: absolute;
			top: 100%;
			left: 0;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 10px 0;
			width: 156px;
			max-height: 0;
			color: $color-dark;
			background-color: $color-white;
			border-radius: $default-border-radius;
			box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
			visibility: hidden;
			opacity: 0;
			z-index: $z-index-1;
			@include transition-all;

			&.active {
				max-height: 101px;
				visibility: visible;
				opacity: 1;
				z-index: $z-index10;
			}
		}

		&_item {
			padding: 0 20px 0 30px;
			width: 100%;
			line-height: 38px;
			@include transition-all;

			&:hover {
				color: $color-primary;
			}
		}
	}
}

.input {
	& > label {
		margin-bottom: 12px;
		line-height: 12px;
		font-size: 16px;
	}

	& > input {
		border-color: $color-border2;
	}

	& > span {
		top: 24px;
		min-height: 40px;
	}
}

.form_actions {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
}

.auth_error {
	color: $color-error;
	opacity: 0;
	visibility: hidden;

	&.active {
		opacity: 1;
		visibility: visible;
	}
}

.btn_update_profile {
	justify-self: flex-end;
	margin-top: 4px;
	padding: 9px 15px;
	min-width: 135px;

	&.loading {
		background-color: $color-dark;
	}
}

.btn_update_profile_text {
	text-transform: capitalize;
	line-height: 20px;
	font-size: 12px;
	font-weight: $weight-semi;
}
