@use '@shared/styles/vars' as *;

.box {
	position: relative;
	display: flex;
	gap: 10px;
	@include transition-all;
}

.label {
	color: $color-dark;

	&.required {
		&::after {
			content: '*';
			margin-left: -5px;
		}
	}
}

.checkbox {
	position: relative;
	display: grid;
	place-content: center;
	margin-top: 6px;
	appearance: none;
	outline: none;
	min-width: 14px;
	width: 14px;
	height: 14px;
	font: inherit;
	color: inherit;
	border: 1px solid $color-border4;
	border-radius: 3px;
	background-color: $color-white;
	cursor: pointer;
	transform: translateY(-0.075em);
	transition: inherit;

	&::before {
		content: '';
		width: 10px;
		height: 10px;
		background-color: $color-primary;
		border-radius: 1px;
		opacity: 0;
		transform: scale(0);
		transition: inherit;
	}

	&:not(:disabled):hover {
		border-color: $color-primary;
	}

	&:focus {
		border-color: $color-primary;
	}

	&.active {
		border-color: $color-primary;

		&::before {
			opacity: 1;
			transform: scale(1);
		}
	}

	&.error {
		border-color: $color-error;
	}
}

.error_popover {
	right: -$popover-indent;
}
