@use '@shared/styles/breakpoints' as *;


.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.sidebar {
	position: sticky;
	top: 60px;
	display: grid;
	gap: 56px;

	@include tablet {
		gap: 65px;
	}

	@include tablet-l {
		gap: 33px;
	}
}
