@import '../../shared/styles/vars';

.not_found {
	padding: 150px 100px 200px;
	text-align: center;
	border-top: 1px solid $color-border;
}
.img {
	margin-bottom: 35px;
	width: 150px;
	height: 150px;
}
.title {
	margin-bottom: 52px;
	letter-spacing: 10px;
	line-height: 160px;
	font-size: 200px;
	font-weight: $weight-bold;
	color: $color-primary;
}
.sub_title {
	margin-bottom: 20px;
	text-transform: uppercase;
	line-height: 30px;
	font-size: 24px;
	font-weight: $weight-medium;
}
.text {
	margin: 0 auto 30px;
	max-width: 600px;
	line-height: 26px;
	font-size: 17px;
}
.btn {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: $weight-bold;
}
