.section {
    position: relative;
    margin-bottom: 65px;
    background-color: var(--color-light); 
}
.img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.title {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    line-height: 24px;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: var(--color-primary);
}
.block {
    height: 317px;
    width: 100%;
}
.sale__info {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 50px;
    letter-spacing: 0.01em;
    color: var(--color-dark);
}
.description {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--color-dark);
    padding-bottom: 45px;
}