.section {
    background-color:var(--color-light);
    margin-bottom: 65px;
}
.img {
    margin: 0 auto;
}
.title {
    z-index: 2;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: var(--color-primary);
    text-transform: uppercase;
    margin-top: 55px;
    margin-bottom: 9px;
}
.block {
    display: flex;
    justify-content: center;
}
.sale__info {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 50px;
    letter-spacing: 0.01em;
    color: var(--color-dark);
}
.decription {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin-bottom: 45px;
}
.wrapper {
    position: absolute;
    z-index: 2;
}