.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4px;
    margin-bottom: 32px;
    gap: 10px;
    min-height: 59px;
}
.item {
    display: flex;
    flex-direction: column;
    padding: 11px 10px;
    border: 1px solid var(--color-timer-border);
    border-radius: 3px;
}
.number {
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
}
.text {
    font-size: 12px;
    line-height: 17px;
    text-transform: uppercase;
}
