@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.box {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;

	@include tablet {
		grid-template-columns: 1fr min(250px, 300px);
		gap: 30px;
	}
}

.sidebar {
	display: none;

	@include tablet {
		position: relative;
		display: block;
	}
}

.sidebar_list {
	position: sticky;
	top: 80px;
	left: 0;
	display: grid;
	justify-content: start;
	gap: 10px;
	list-style: none;
}

.sidebar_button {
	text-align: left;
	letter-spacing: $letter-spacing-lg-neg;
	font-size: 13px;
	color: $color-grey;
	@include transition-all;

	&:hover {
		font-weight: $weight-medium;
		color: $color-dark;
	}

	&.active {
		font-weight: $weight-medium;
		color: $color-dark;
		letter-spacing: 0;
	}
}

.subnav {
	display: grid;
	justify-content: start;
	gap: 8px;
	margin-top: 8px;
	padding-left: 10px;

	.sidebar_button {
		justify-self: start;
		font-size: 12px;

		&.active {
			font-weight: $weight-medium;
			color: $color-primary;
		}
	}
}

.block_note {
	margin-bottom: 10px;
	box-shadow: $box-shadow;
	border-left: none;
	border-top: 4px solid #40a944;

	strong {
		letter-spacing: 0;
		line-height: 15px;
		font-size: 13px;
	}

	p {
		letter-spacing: 0;
		line-height: 15px;
		font-size: 13px;
	}
}

.updated {
	display: block;
	margin-bottom: 30px;
	font-size: 13px;
}

.section {
	&:not(:last-of-type) {
		margin-bottom: 30px;

		@include tablet {
			margin-bottom: 40px;
		}
	}

	h2 {
		text-transform: capitalize;
		margin-bottom: 20px;
		padding-bottom: 10px;
		line-height: 26px;
		font-size: 1.5rem;
		border-bottom: 3px solid $color-primary;
		color: $color-dark;

		@include tablet-s {
			line-height: 24px;
			font-size: 1.75rem;
		}
	}

	h3 {
		text-transform: capitalize;
		margin: 20px 0 12px 0;
		line-height: 22px;
		font-size: 1.125rem;
		font-weight: $weight-semi;
		color: $color-dark;

		@include tablet-s {
			margin: 25px 0 15px 0;
			line-height: 24px;
			font-size: 1.313rem;
		}
	}

	h3 + ul {
		margin: 12px 0 15px 40px;
	}

	p {
		margin-bottom: 15px;
		font-size: 0.813rem;
		color: $color-dark;
	}

	strong + p {
		margin-bottom: 0;
	}

	ul {
		margin: 15px 0 15px 40px;
		list-style: square;
	}

	li {
		position: relative;
		margin-bottom: 8px;
		padding-left: 10px;
		color: $color-dark;

		strong {
			text-transform: capitalize;
			font-weight: $weight-semi;
		}
	}
}

.contacts {
	text-align: center;

	&_item {
		display: inline-block;

		&:not(:last-of-type) {
			margin: 10px 20px;
			border: 1px solid $color-border2;
			cursor: pointer;
			@include transition-all;

			&:hover {
				border-color: $color-primary;
			}
		}

		span {
			text-align: left;
		}
	}

	&_link,
	&_hours {
		display: flex;
		gap: 5px;
		padding: 10px 20px;
	}
}

.link {
	text-decoration: underline;

	&:hover {
		color: $color-primary;
	}
}

.modal {
	min-width: 250px;
	padding: 20px;

	@include tablet-s {
		min-width: 300px;
	}

	& > button {
		right: 12px;
		width: 25px;
		height: 25px;
		background-color: $color-grey2;
		border-radius: $border-round;

		svg {
			width: 10px !important;
			height: 10px !important;
		}
	}
}

.visible {
	opacity: 1;
	visibility: visible;
}
