@import '../../../../../shared/styles/vars';

.btn {
	display: inline-flex;
	width: fit-content;
	text-decoration: none;
	padding: 0 20px;
	height: 30px;
	text-transform: capitalize;
	letter-spacing: normal;
	line-height: 30px;
	font-size: 14px;
	border-radius: 30px;
	color: $color-white;
	background-color: $color-dark;
	@include transition-all;

	&:hover {
		background-color: $color-primary;
	}

	&:disabled {
		background-color: $color-border;
		cursor: not-allowed;
	}
}
