@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.header {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 25px;

	@include tablet-l {
		margin-bottom: 30px;
	}
}

.subtitle {
	line-height: 24px;
	font-size: 15px;
	font-style: italic;
	font-family: $PlayfairDisplay;
	color: $color-dark;
}

.title {
	text-transform: capitalize;
	line-height: 22px;
	font-size: 22px;
	font-weight: $weight-medium;
	color: $color-dark;

	@include tablet {
		line-height: 35px;
		font-size: 32px;
	}
}
