@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.product {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 16px;

	.img_link {
		position: relative;
		display: flex;
		background-color: $color-grey9;
		@include transition-all;

		&:hover {
			opacity: 0.8;
		}

		.img {
			width: 100%;
		}
	}

	.info {
		position: relative;
		display: flex;
		flex-direction: column;
		flex: 1;
		justify-content: flex-start;

		.card_bottom {
			margin-top: auto;
		}

		.name {
			text-transform: capitalize;
			margin-bottom: 14px;
			line-height: 15px;
			font-size: 15px;
			font-weight: $weight-normal;
			color: $color-dark;

			@include tablet {
				margin-bottom: 18px;
			}
		}

		.subCategory {
			display: grid;
			grid-auto-flow: column;
			justify-content: center;
			align-items: center;
			margin-bottom: 9px;
			line-height: 12px;
			font-size: 12px;
			font-weight: $weight-normal;
			color: $color-dark;
			z-index: $z-index10;

			@include tablet {
				margin-bottom: 15px;
			}

			&_divider {
				margin: 0 2px;
				color: $color-dark4;
			}

			button {
				@include transition-all;
			}
		}
	}

	.name > a:hover,
	.subCategory > button:hover {
		color: $color-primary;
	}

	&_xs {
		flex-direction: row;
		gap: 10px;

		@include mobile-l {
			gap: 16px;
		}

		@include tablet-s {
			gap: 10px;
		}

		@include tablet {
			gap: 16px;
		}

		.img_link {
			max-width: 85px;

			@include mobile-l {
				max-width: 110px;
			}

			@include tablet-s {
				max-width: 85px;
			}

			@include tablet {
				max-width: 110px;
			}

			@include laptop-m {
				max-width: 120px;
			}
		}

		.info {
			.name {
				margin-bottom: 13px;

				@include mobile-l {
					margin-bottom: 18px;
				}

				@include tablet-s {
					margin-bottom: 13px;
				}

				@include tablet {
					margin-bottom: 18px;
				}
			}

			.card_bottom {
				margin-top: 0;
			}

			.subCategory {
				justify-content: flex-start;
				margin-bottom: 12px;

				@include mobile-l {
					margin-bottom: 18px;
				}

				@include tablet-s {
					margin-bottom: 12px;
				}

				@include tablet-s {
					margin-bottom: 18px;
				}
			}
		}
	}

	&_sm {
		.img_link {
			//min-height: 225px;
		}

		.info {
			margin-left: 0;
			text-align: center;
		}

		.name {
			margin-bottom: 16px;
		}

		.subCategory {
			margin-bottom: 12px;
		}
	}

	&_md-lg {
		.info {
			width: 100%;
			margin-left: 0;
			text-align: center;
		}
	}

	// sizes
	&_lg {
		.info {
			width: 100%;
			margin-left: 0;
			text-align: center;
		}

		.name {
			margin-bottom: 14px;

			@include tablet {
				margin-bottom: 16px;
			}

			&.margin_less {
				margin-bottom: 10px;
			}
		}

		.subCategory {
			margin-bottom: 12px;

			&.subCategory_name {
				margin-right: 2px;
			}

			&.margin_less {
				margin-bottom: 9px;
			}
		}
	}

	&_list {
		gap: 20px;

		@include tablet {
			flex-direction: row;
			align-items: flex-start;
			gap: 25px;
		}

		&:not(:last-child) {
			margin-bottom: 0;
		}

		.img_link {
			height: auto;

			@include tablet {
				width: 31%;
			}
		}

		.info {
			@include tablet {
				width: 60%;
			}

			.name {
				margin-bottom: 14px;
				font-size: 18px;

				@include tablet {
					margin-bottom: 16px;
				}
			}

			.subCategory {
				justify-content: start;
				margin-bottom: 9px;

				@include tablet {
					margin-bottom: 12px;
				}
			}
		}

		.prices {
			margin-bottom: 15px;
		}

		.description {
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	&_list-xs {
		flex-direction: row;
		justify-content: center;
		margin-bottom: 0;

		.img_link {
			width: 40px;
			height: 40px;
			min-width: 40px;
		}

		.info {
			justify-content: center;

			.name {
				margin-bottom: 0;
			}

			.card_bottom {
				margin-top: 0;
			}
		}
	}
}

.prices {
	opacity: 1;
	@include transition-all;

	&.hide {
		opacity: 0;
	}
}

.flex_start {
	justify-content: flex-start;
}
