@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.tabs {
	display: flex;
	gap: 25px;
	padding-bottom: 20px;
	border-bottom: 1px solid $color-border2;

	@include tablet {
		gap: 35px;
	}
}

.tab {
	line-height: 26px;
	font-size: 17px;
	font-weight: $weight-medium;
	color: $color-dark3;
	@include transition-all;

	@include tablet {
		line-height: 26px;
		font-size: 20px;
	}

	&.active {
		color: $color-dark2;
	}

	&:hover {
		color: $color-dark2;
	}
}
