@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.tabs {
	display: flex;
	gap: 25px;
	padding-bottom: 20px;
	border-bottom: 1px solid $color-border2;
	overflow-x: auto;

	@include tablet {
		gap: 35px;
	}

	&::-webkit-scrollbar {
		height: 3px;
	}

	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px #0000001a;
		background-color: #f7f7f700;
	}

	&::-webkit-scrollbar-thumb {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}
}

.tab {
	white-space: nowrap;
	line-height: 26px;
	font-size: 17px;
	font-weight: $weight-medium;
	color: $color-dark3;
	@include transition-all;

	@include tablet {
		line-height: 26px;
		font-size: 20px;
	}

	&.active {
		color: $color-dark2;
	}

	&:hover {
		color: $color-dark2;
	}
}
