.rowSliderWrapper {
	:global(.alice-carousel__stage-item) {
		// tags
		div div a div > span {
			line-height: 20px;
		}

		// title
		div div h3 a {
			line-height: 15px;
		}

		// category
		div div h4 button {
			line-height: 12px;
		}

		// price
		div > div > div > div:first-of-type > span {
			line-height: 16px;
		}

		// hover menu
		div > div > div > div:nth-of-type(2) > div > span {
			line-height: 14px;
		}
	}
}
