@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.box {
	@include between(tablet-s, tablet) {
		margin: 0 -10px;
	}

	@include tablet-l {
		margin: 0 -10px;
	}
}

.slider {
	position: relative;
	padding: 25px 15px;
	border-radius: 10px;
	background-color: $color-white;

	@include tablet {
		padding: 30px 20px;
	}
}

.title {
	text-transform: capitalize;
	line-height: 26px;
	font-size: 24px;
	font-weight: 500;
	color: $color-dark;
}

.arrow {
	display: inline-flex;
	padding: 0;
	width: 22px;
	height: 26px;
}

.arrow_prev {
	transform: scale(-1) translateX(100%);
}
