@use '@shared/styles/breakpoints' as *;

.aside {
	display: flex;
	flex-direction: column;
	gap: 48px;

	@include tablet {
		gap: 57px;
	}

	@include tablet-l {
		gap: 33px;
	}
}

.banner {
	@include tablet {
		max-width: 255px;
	}
}
