@use '@shared/styles/vars' as *;

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.wrapper {
	position: relative;
	padding: 30px 7px 40px;
	max-width: 1100px;
	width: 100%;
	background: $color-white;
	border: 1px solid $color-modal-border;
	z-index: $z-index100;
}
.wrapper::-webkit-scrollbar {
	width: 0;
	height: 0;
	appearance: none;
}
.btn_close {
	position: absolute;
	top: 10px;
	right: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	background-color: $color-grey2;
	border-radius: 50%;

	.close_svg {
		width: 11px;
		height: 11px;

		path {
			@include transition-all;
		}
	}

	&:hover {
		.close_svg path {
			fill: $color-primary;
		}
	}
}
