@use '@shared/styles/vars' as *;

.reply {
	margin-top: 55px;
	width: 100%;

	&_short {
		margin-top: -15px;
	}
}

.note {
	margin-bottom: 12px;
	line-height: 17px;
	font-size: 13px;
}

.title {
	margin-bottom: 20px;
	text-transform: uppercase;
	line-height: 20px;
	font-size: 15px;
	font-weight: $weight-medium;
}

.user_actions {
	display: grid;
	gap: 20px;
}

.message_icon > svg {
	width: 15px;
	height: 14px;
}
