@use '@shared/styles/mixins' as *;
@use '@shared/styles/breakpoints' as *;

.container {
	@include container;
}

.row {
	display: flex;
	flex-direction: column;
	gap: var(--space-2xl);

	@include tablet {
		gap: 65px;
	}

	@include tablet-l {
		flex-direction: row;
		gap: var(--space-lg);
	}
}
