@use "sass:color";
@use '@shared/styles/vars' as *;

.terms {
	display: inline-block;
	color: $color-dark4;
}
.terms-link {
	text-decoration: underline;
	color: $color-primary;
	@include transition-all;

	&:hover {
		color: color.adjust($color-primary, $lightness: -8%);
	}

	&:focus {
		color: color.adjust($color-primary, $lightness: -8%);
	}
}
