// colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-primary: #40A944;
$color-error: #FF7063;
$color-dark: #222222;
$color-dark2: #333333;
$color-dark3: #555555;
$color-border: #EBEBEB;
$color-border2: #EDEDED;
$color-border3: #DDD;
$separator: #EDEDED;
$color-section-bg: #F4F4F4FF;

// weights
$weight-normal: 400;
$weight-medium: 500;
$weight-semi: 600;
$weight-bold: 700;

// fonts
$WorkSans: 'Work Sans', sans-serif;
$PlayfairDisplay:'Playfair Display', serif;

// transitions
@mixin transition-all() {
	transition: all 0.3s ease;
}
