.heading {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: var(--color-dark-medium);
    text-transform: uppercase;
}
.search {
    width: 100%;
    margin-top: 20px;
    padding: 10px 15px 11px;
    background: var(--color-white);
    border: 1px solid var(--color-border);
    box-sizing: border-box;
    opacity: .7;
}
.btn {
    width: 75px;
    height: 30px;
    margin-top: 20px;
    font-size: 12px;
    background-color: var(--color-dark);
    color: var(--color-white);
    text-transform: uppercase;
}