@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.box {
	@include tablet-s {
		margin: 0 -10px;
	}

	@include tablet-l {
		margin: 0 -10px;
	}
}

.slider {
	background-color: transparent;
}

.title {
	text-transform: capitalize;
	padding: 0 10px;
	line-height: 26px;
	font-size: 24px;
	font-weight: 500;
	color: $color-dark;
}

.arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	@include transition-all;

	@include laptop-m {
		opacity: 0;

		&.active {
			opacity: 1;
		}
	}
}

.arrow_prev {
	transform: scale(-1);
}
