@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.comments {
	display: grid;
	gap: 15px;
}

.comment {
	display: grid;
	grid-template-columns: 50px 1fr;
	gap: 20px;

	@include tablet-l {
		gap: 10px;
	}
}

.img {
	border-radius: 50%;
}

.message {
	padding-top: 2px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.name {
	line-height: inherit;
	color: $color-primary;
}

.says {
	font-size: 12px;
}

.text {
	display: inline;
	font-size: 14px;
	@include transition-all;

	&:hover {
		color: $color-primary;
	}
}
