@use "@shared/styles/vars" as *;
@use "@shared/styles/breakpoints" as *;

.validation {
	position: static;
	max-width: 100%;
	width: 100%;
	letter-spacing: 0;
	line-height: 25px;
	display: block;
	align-content: center;
	padding: 0;
	border: none;
	font-weight: $weight-medium;
	cursor: default;
	color: $color-error;
	background-color: $color-white;
	z-index: $z-index100;
	transform: translateX(0);

	@include tablet-s {
		position: absolute;
		top: 0;
		right: 0;
		width: max-content;
		max-width: max-content;
		line-height: 30px;
	}

	@include tablet-l {
		position: absolute;
		top: 24px;
		right: -20px;
		width: max-content;
		max-width: 175px;
		padding: 0 12px;
		line-height: 30px;
		min-height: 40px;
		border: 1px solid $color-error;
		transform: translateX(100%);
	}

	@include laptop-m {
		max-width: 264px;
	}

	&.type_text {
		padding: 0 !important;
		border: none !important;
	}

	&.no_result {
		color: $color-warning;
		border: 1px solid $color-warning;
	}

	&:hover {
		z-index: $z-index200;
	}
}

.animateEnter {
	opacity: 0;
	transform: translateX(15px);

	@include tablet-s {
		transform: translateY(-16px);
	}

	@include tablet-l {
		transform: translateX(calc(100% + 10px));
	}

	@include breakpoint(1300px) {
		transform: translateX(calc(100% + 10px));
	}
}

.animateEnterActive {
	opacity: 1;
	transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
	transform: translateX(0);

	@include tablet-s {
		transform: translateY(-6px);
	}

	@include tablet-l {
		transform: translateX(calc(100% + 20px));
	}

	@include breakpoint(1300px) {
		transform: translateX(calc(100% + 20px));
	}
}

.animateEnterDone {
	opacity: 1;
	transform: translateX(0);

	@include tablet-s {
		transform: translateY(-6px);
	}

	@include tablet-l {
		transform: translateX(calc(100% + 20px));
	}

	@include breakpoint(1300px) {
		transform: translateX(calc(100% + 20px));
	}
}

.animateExit {
	opacity: 1;
	transform: translateX(0);

	@include tablet-s {
		transform: translateY(-6px);
	}

	@include tablet-l {
		transform: translateX(calc(100% + 20px));
	}

	@include breakpoint(1300px) {
		transform: translateX(calc(100% + 20px));
	}
}

.animateExitActive {
	opacity: 0;
	transform: translateX(15px);
	transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;

	@include tablet-s {
		transform: translateY(-16px);
	}

	@include tablet-l {
		transform: translateX(calc(100% + 10px));
	}

	@include breakpoint(1300px) {
		transform: translateX(calc(100% + 10px));
	}
}

.animateExitDone {
	opacity: 0;
	transform: translateX(15px);

	@include tablet-s {
		transform: translateY(-16px);
	}

	@include tablet-l {
		transform: translateX(calc(100% + 10px));
	}

	@include breakpoint(1300px) {
		transform: translateX(calc(100% + 10px));
	}
}
