@use '@shared/styles/vars' as *;

.box {
	padding: 25px 0 23px;
	border: 1px solid $color-grey12;
	border-radius: $border-radius-l;
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	max-width: 185px;
	height: 60px;
	padding: 0 15px;
	width: 100%;
	object-fit: contain;
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	filter: grayscale(100%);
	transition: .3s;

	&:hover,
	&.active {
		filter: grayscale(0%);
	}
}
