@use '@shared/styles/breakpoints' as *;

.box {
	display: grid;
	grid-auto-flow: row;
	justify-content: center;
	gap: 30px;

	@include tablet-s {
		gap: var(--grid-gap);
	}

	@include tablet {
		grid-auto-flow: column;
		grid-template-columns: minmax(343px, 420px) minmax(360px, 420px);
	}

	@include laptop-s {
		grid-template-columns: minmax(343px, 480px) minmax(360px, max-content);
	}
}

.svg {
	max-width: 450px;
	width: 100%;
	height: auto;

	@include tablet {
		justify-self: end;
		max-width: 420px;
	}

	@include tablet-l {
		max-width: 480px;
	}
}

.content {
	height: max-content;

	@include tablet {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	@include tablet {
		padding: 20px 0 30px;
	}

	@include breakpoint(1300px) {
		padding: 60px 25px 0;
	}
}
