@use '@shared/styles/vars' as *;

.layout {
	display: grid;
	grid-auto-flow: column;
	grid-template: 1fr / 250px 1fr;
	align-items: start;
	gap: 25px;
}
.list {
	display: grid;
	gap: 5px;
	margin-bottom: 20px;
}
.link {
	width: 100%;
}
.component {
	background-color: $color-section-bg;
}
.component {
	padding: 20px;
}
.btn {
	justify-content: start;
	width: 100%;
	height: 40px;
	line-height: 30px;
	text-transform: capitalize;
	font-size: 14px;
	font-weight: $weight-medium;
	border-radius: $default-border-radius;

	&.active {
		color: $color-white;
		background-color: $color-primary;
	}
}
