@import '../../../styles/vars';

.slider {
	background-color: $color-white;
}

.title {
	text-transform: capitalize;
	padding: 0 10px;
	line-height: 26px;
	font-size: 24px;
	font-weight: 500;
	color: $color-dark;
}

.arrow {
	display: inline-flex;
	padding: 0;
	width: 22px;
	height: 26px;
	opacity: 0;
	@include transition-all;

	&.active {
		opacity: 1;
	}
}
