@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin: 0 auto;
	padding: 25px 20px 30px;
	max-width: 420px;
	width: 100%;
	border: 1px solid $color-border2;

	@include tablet {
		margin: 0;
	}
}

.input_box {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
}

.password_strength {
	margin-top: 10px;
}

// Password strength animations for 3-rd step (enter new password)
.passwordStrengthAnimateEnter {
	opacity: 0;
	transform: translateX(10px);
}

.passwordStrengthAnimateEnterActive {
	opacity: 1;
	transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
	transform: translateX(0);
}

.passwordStrengthAnimateEnterDone {
	opacity: 1;
	transform: translateX(0);
}

.passwordStrengthAnimateExit {
	opacity: 1;
	transform: translateX(0);
}

.passwordStrengthAnimateExitActive {
	opacity: 0;
	transform: translateX(10px);
	transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.passwordStrengthAnimateExitDone {
	opacity: 0;
	transform: translateX(10px);
}

.input_email,
.input_password {
	& > span {
		@include tablet-s {
			position: static;
		}

		@include tablet-l {
			padding: 0;
			max-width: 100%;
			border: none;
			min-height: 30px;
		}

		@include breakpoint(1300px) {
			position: absolute;
			top: 0;
			padding: 0 12px;
			max-width: 200px;
			min-height: 40px;
			border: 1px solid $color-error;
		}
	}
}

// ErrorPopover animations for 1-st (enter profile email)
.animateEnter {
	opacity: 0;
	transform: translateX(10px);

	@include tablet-s {
		transform: translateX(10px);
	}

	@include tablet-l {
		transform: translateX(10px);
	}

	@include breakpoint(1300px) {
		transform: translateX(calc(100% + 10px));
	}
}

.animateEnterActive {
	opacity: 1;
	transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
	transform: translateX(0);

	@include tablet-s {
		transform: translateX(0);
	}

	@include tablet-l {
		transform: translateX(0);
	}

	@include breakpoint(1300px) {
		transform: translateX(calc(100% + 20px));
	}
}

.animateEnterDone {
	opacity: 1;
	transform: translateX(0);

	@include tablet-s {
		transform: translateX(0);
	}

	@include breakpoint(1300px) {
		transform: translateX(calc(100% + 20px));
	}
}

.animateExit {
	opacity: 1;
	transform: translateX(0);

	@include tablet-s {
		transform: translateX(0);
	}

	@include breakpoint(1300px) {
		transform: translateX(calc(100% + 20px));
	}
}

.animateExitActive {
	opacity: 0;
	transform: translateX(10px);
	transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;

	@include tablet-s {
		transform: translateX(10px);
	}

	@include breakpoint(1300px) {
		transform: translateX(calc(100% + 10px));
	}
}

.animateExitDone {
	opacity: 0;
	transform: translateX(10px);

	@include tablet-s {
		transform: translateX(10px);
	}

	@include breakpoint(1300px) {
		transform: translateX(calc(100% + 10px));
	}
}

.input_code {
	input {
		align-self: center;
		text-align: center;
		max-width: 150px;
		padding: 7px 20px;
		letter-spacing: $letter-spacing-lg;
		line-height: 26px;
		font-size: 20px;
		font-weight: $weight-semi;

		&::placeholder {
			letter-spacing: $letter-spacing-lg;
			color: $color-grey;
		}
	}

	& > span {
		text-align: center;

		@include tablet-s {
			position: static;
			max-width: 100%;
			width: 100%;
		}

		@include tablet-l {
			padding: 0;
			border: none;
			min-height: 30px;
		}

		@include breakpoint(1300px) {
			position: absolute;
			top: 0;
			text-align: start;
			padding: 0 12px;
			max-width: 205px;
			width: max-content;
			min-height: 40px;
			border: 1px solid $color-error;
		}
	}
}

// ErrorPopover animations for 2-st step (enter code)
.codeAnimateEnter {
	opacity: 0;
	transform: translateY(10px);

	@include tablet-s {
		transform: translateY(10px);
	}

	@include tablet-l {
		transform: translateY(10px);
	}

	@include breakpoint(1300px) {
		transform: translateX(calc(100% + 10px));
	}
}

.codeAnimateEnterActive {
	opacity: 1;
	transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
	transform: translateY(0);

	@include tablet-s {
		transform: translateY(0);
	}

	@include tablet-l {
		transform: translateY(0);
	}

	@include breakpoint(1300px) {
		transform: translateX(calc(100% + 20px));
	}
}

.codeAnimateEnterDone {
	opacity: 1;
	transform: translateY(0);

	@include tablet-s {
		transform: translateY(0);
	}

	@include tablet-l {
		transform: translateY(0);
	}

	@include breakpoint(1300px) {
		transform: translateX(calc(100% + 20px));
	}
}

.codeAnimateExit {
	opacity: 1;
	transform: translateY(0);

	@include tablet-s {
		transform: translateY(0);
	}

	@include tablet-l {
		transform: translateY(0);
	}

	@include breakpoint(1300px) {
		transform: translateX(calc(100% + 20px));
	}
}

.codeAnimateExitActive {
	opacity: 0;
	transform: translateY(10px);
	transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;

	@include tablet-s {
		transform: translateY(10px);
	}

	@include tablet-l {
		transform: translateY(10px);
	}

	@include breakpoint(1300px) {
		transform: translateX(calc(100% + 10px));
	}
}

.codeAnimateExitDone {
	opacity: 0;
	transform: translateY(10px);

	@include tablet-s {
		transform: translateY(10px);
	}

	@include tablet-l {
		transform: translateY(10px);
	}

	@include breakpoint(1300px) {
		transform: translateX(calc(100% + 10px));
	}
}

.input_password {
	& > label {
		margin-bottom: 12px;
		letter-spacing: $letter-spacing-lg;
		line-height: 12px;
		font-size: 16px;
	}

	& > span {
		@include tablet {
			max-width: 100%;
		}

		@include breakpoint(1300px) {
			top: 24px;
			max-width: 200px;
			min-height: 40px;
		}
	}
}

.resend_code {
	align-self: center;
}

.btn {
	display: inline-flex;
	align-self: center;
	border-radius: $border-radius-xl;
	height: 34px;
	padding: 0 20px;
}

.btn_text {
	text-transform: uppercase;
	letter-spacing: $letter-spacing-lg;
	font-weight: $weight-bold;
	line-height: 26px;
	font-size: 12px;
}

.check_mail {
	display: inline-flex;
	align-self: center;
	padding: 9px 20px;
	background-color: $color-primary;
	border-radius: $default-border-radius;

	&:hover {
		background-color: $color-dark;
	}

	&_text {
		text-transform: uppercase;
		line-height: 20px;
		font-size: 12px;
		font-weight: $weight-semi;
	}
}

.validate {
	display: flex;
	align-items: center;
	align-self: center;
	gap: 10px;

	.text {
		flex-shrink: 0;
	}
}

.validate_success {
	text-align: center;
	display: flex;
	align-self: center;
}
