@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.navbar {
	position: relative;
	padding: 30px 0 28px;

	@include tablet-l {
		display: block;
		padding: 0;
	}

	&__border {
		display: none;
		position: absolute;
		top: 38px;
		left: 0;
		right: 0;
		height: 1px;
		background-color: $color-border2;

		@include tablet-l {
			display: block;
		}
	}

	&__top {
		display: none;
		justify-content: space-between;
		align-items: center;
		height: 39px;

		@include tablet-l {
			display: flex;
		}
	}

	&__center {
		display: flex;
		align-items: center;
		padding-bottom: 30px;
		height: 70px;

		&.padding {
			padding-bottom: 180px;

			@include tablet {
				padding-bottom: 120px;
			}
		}

		@include tablet-l {
			padding: 30px 0 24px;
			height: 100px;
		}
	}
}

/* top start */
.meta {
	display: flex;

	&__divider {
		margin: 0 19px;
		line-height: 39px;
	}
}

/* center start */
.center {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-between;

	@include tablet-s {
		grid-template-columns: 120px auto auto;
		justify-content: normal;
		gap: 35px;
	}

	@include tablet-l {
		grid-template-columns: 255px 1fr auto;
		justify-content: normal;
		gap: 35px;
	}

	.logo_link {
		display: inline-flex;
		justify-self: flex-start;
		align-items: center;

		.logo {
			width: 100px;
			height: 24px;

			@include tablet-s {
				width: initial;
				height: initial;
			}
		}
	}

	.search {
		display: none;

		@include tablet-l {
			display: block;
		}
	}

	.burger {
		display: flex;
		justify-content: end;

		@include tablet-l {
			display: none;
		}
	}
}

.auth {
	display: none;

	@include tablet-s {
		display: flex;
	}

	&__link {
		text-transform: uppercase;

		&:hover {
			color: $color-primary;
		}
	}

	&__divider {
		margin: 0 7px;
	}
}

.account {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 14px;

	@include tablet {
		gap: 20px;
	}

	@include tablet-l {
		justify-content: end;
	}

	&_link {
		position: relative;
		display: grid;
		grid-auto-flow: column;
		align-items: center;
		gap: 2px;

		@include tablet {
			gap: 5px;
		}

		&_svg {
			width: 22px;
			height: 22px;

			&.compare_link {
				width: 24px;
				height: 24px;
			}

			&.active &_svg:not(.compare_link) path {
				fill: $color-primary;
			}
		}

		&.active &_svg:not(.compare_link) path {
			fill: $color-primary;
		}

		&.active &_svg.compare_link path {
			stroke: $color-primary;
		}

		&:hover &_svg:not(.compare_link) path {
			fill: $color-primary;
		}

		&:hover &_svg.compare_link path {
			stroke: $color-primary;
		}
	}
}

.profile_nav {
	margin-right: 6px;
}

.count {
	display: block;
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	font-size: 12px;
	border-radius: 50%;
	background-color: $color-border2;

	@include tablet {
		width: 18px;
		height: 18px;
		line-height: 18px;
	}
}
