@import '../../shared/styles/vars';

.section {
	background-color: $color-section-bg;
}
.img {
	margin-bottom: 35px;
	width: 150px;
	height: 150px;
}
.title {
	margin-bottom: 12px;
	font-size: 28px;
}
.text {
	margin-bottom: 30px;
	font-size: 20px;

	code {
		color: $color-primary;
	}
}
.links {
	display: grid;
	gap: 5px;

	&_title {
		font-size: 16px;
		font-weight: $weight-normal;
	}

	&_list {
		display: grid;
		grid-auto-flow: column;
		justify-content: center;
		gap: 15px;
	}
}
.link {
	&:hover {
		color: $color-primary;
	}
}
.match {
	padding: 150px 100px 200px;
	text-align: center;
}
