button {
    margin: 0 3px!important;
    width: 14px;
    height: 14px;
    border: none;
    border-radius: 50%;
    transition: var(--transition-slider-control);
}

.active {
    background-color: var(--color-primary);
}

.inactive {
    box-shadow: 0px 0px 0px 2px var(--color-white) inset;
    background-color: var(--color-light);
}

.inactive:hover {
    box-shadow: 0px 0px 0px 2px var(--color-primary) inset;
    background-color: var(--color-primary);
}
