@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.menu {
	display: flex;
	align-items: center;
	gap: 4px;
	position: absolute;
	padding: 4px 8px;
	border-radius: 30px;
	background-color: $color-white;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	cursor: default;
	z-index: -10;
	opacity: 0;
	@include transition-all;

	&.active {
		opacity: 1;
		z-index: $z-index90;
		transform: translateY(0) translateX(-50%);
	}

	&_xs {
		bottom: 10px;
		left: 0;
		transform: translateY(-20px);

		&.active {
			transform: translateY(0);
		}
	}

	&_sm {
		top: -75px;
		left: 50%;
		transform: translateY(10px) translateX(-50%);
	}

	&_md-lg {
		top: -80px;
		left: 50%;
		transform: translateY(15px) translateX(-50%);
	}

	&_lg {
		top: -80px;
		left: 50%;
		transform: translateY(15px) translateX(-50%);
	}

	&_list {
		position: relative;
		gap: 5px;
		margin-top: 22px;
		padding: 0;
		box-shadow: none;
		opacity: 1;
		z-index: $z-index90;

		@include tablet {
			gap: 10px;
		}

		.btn_action {
			border: 1px solid $color-border2;
		}
	}
}

.button_cart {
	padding: 0 20px;
	height: 38px;

	@include tablet {
		padding: 0 30px;
		height: 42px;
	}

	.button_cart_text {
		text-transform: capitalize;
		line-height: 38px;

		@include tablet {
			line-height: 40px;
		}
	}
}

.btn_action {
	&:hover {
		.icon path {
			fill: $color-white;
		}

		.icon_compare path {
			stroke: $color-white;
		}
	}

	&.active {
		background-color: $color-primary;

		.icon path {
			fill: $color-white;
		}

		.icon_compare path {
			stroke: $color-white;
		}
	}

	&.loading {
		background-color: $color-dark;
	}
}
