@use '@shared/styles/breakpoints' as *;

.slider {
	padding: 30px 20px;

	@include tablet-s {
		& > div {
			margin: 0 -10px;
		}
	}
}

.box {
	display: flex;
	flex-direction: column;
	gap: 30px;

	@include tablet-s {
		margin: 0 10px;
	}

	&.mid {
		gap: 45px;
	}

	&.big {
		gap: 60px;
	}
}
