.section {
    width: 100%;
    margin-top: 40px;
    border: 1px solid var(--color-border);
    padding: 20px 30px 30px 30px;
}
.section_name {
    color: #555;
    font-size: 20px;
    margin-right: 35px;
}
.wrapper {
    display: flex;
}
.table {
    width: 100%;
    margin-top: 29px;
    border-top: 1px solid var(--color-border);
    font-size: 14px;
}
.table tr {
    border-bottom: 1px solid var(--color-border-dark);
}
.table td {
    padding: 7px 17px;
}
.first_col {
    border-right: 1px solid var(--color-border-dark);
    width: 30%;
    font-weight: 700;
}
.item {
    display: flex;
    width: 100%;
    margin-top: 40px;
}
.img {
    width: 47px;
    height: 47px;
}
.field {
    width: 100%;
    border: 1px solid var(--color-border);
    margin-left: 21px;
    padding: 12px;
    border-radius: 3px;
    position: relative;
}
.field::before {
    background: var(--color-white);
    border-bottom: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
    content: '';
    display: block;
    height: 10px;
    left: -6px;
    position: absolute;
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
}
.author {
    font-weight: 500;
    font-size: 15px;
}
.author span{
    font-weight: 400;
}
.info_container {
    display: flex;
    justify-content: space-between
}
.text {
    margin-top: 15px;
}