@use '@shared/styles/vars' as *;

.product {
	display: flex;
	gap: 24px;
}

.img {
	max-width: 559px;
	max-height: 559px;
	width: 100%;
	height: 100%;
	border: 1px solid $separator;
}

.product_img {
	width: 100%;
	height: 100%;
}

.name {
	line-height: 25px;
	font-size: 22px;
	font-weight: $weight-normal;
}

.price {
	justify-content: flex-start;
}

.dietaries {
	justify-content: start;
	gap: 5px;

	div {
		width: 30px;
		height: 30px;
	}
}

.actions {
	display: inline-grid;
	justify-items: start;
	gap: 10px;

	.btn {
		&:hover {
			.icon {
				opacity: 0;
			}

			.icon_remove {
				opacity: 1;
			}
		}
	}

	.icon {
		cursor: pointer;
		@include transition-all;

		path {
			fill: $color-primary;
		}

		&.compare path {
			fill: $color-white;
			stroke: $color-primary;
		}
	}

	.icon_remove {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		@include transition-all;

		path {
			fill: $color-error;
		}

		&.compare path {
			fill: $color-white;
			stroke: $color-error;
		}
	}
}

.content {
	max-width: 557px;
}

.title {
	font-size: 22px;
	line-height: 20px;
}

.category {
	display: flex;
}

.tag {
	margin-left: 10px;

	&:hover {
		color: $color-primary;
	}
}

.specifications {
	padding: 20px 30px 30px 30px;
	border: 1px solid $color-border2;
}

.tabs {
	margin-bottom: 40px;
}
