@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.box {
	display: flex;
	flex-direction: column;
	gap: 0;
	margin-bottom: 60px;

	@include tablet {
		display: grid;
		grid-template-areas:
		'img product'
		'specifications specifications';
		grid-template-columns: 1fr 1fr;
		gap: var(--space-3xl) var(--grid-gap);
	}

	@include tablet-l {
		margin-bottom: 70px;
	}
}

.img {
	grid-area: img;
	margin-bottom: var(--space-lg);

	@include tablet {
		margin-bottom: 0;
	}
}

.product {
	grid-area: product;
	margin-bottom: var(--space-2xl);

	@include tablet {
		margin-bottom: 0;
	}
}

.name {
	margin-bottom: 17px;
	line-height: 20px;
	font-size: 18px;
	font-weight: $weight-normal;

	@include tablet {
		font-size: 20px;
	}

	@include tablet-l {
		margin-bottom: 25px;
		line-height: 25px;
		font-size: 22px;
	}
}

.rating {
	margin-bottom: 14px;

	@include tablet {
		margin-bottom: 17px;
	}
}

.price {
	justify-content: flex-start;
	margin-bottom: 10px;

	@include tablet {
		margin-bottom: 12px;
	}
}

.meta {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-areas:
		'category tags'
		'stock .';
	gap: 5px 24px;
	align-items: center; // start
	margin-bottom: 15px;
}

.stock {
	display: flex;
	grid-area: stock;
	gap: 10px;
}

.dietaries {
	grid-area: tags;
	justify-self: end;
	justify-content: start;
	gap: 6px;
}

.description {
	margin-bottom: 18px;

	@include tablet {
		margin-bottom: 25px;
	}
}

.add_actions {
	margin: 15px 0 16px;

	@include tablet {
		margin: 20px 0;
	}
}

.btn_add {
	letter-spacing: 0;
	padding: 0 25px;

	@include tablet-l {
		width: 240px;
	}
}

.actions {
	display: inline-grid;
	justify-items: start;
	gap: 10px;

	.btn_add_text {
		height: 24px;
	}

	.btn {
		&:hover {
			.icon {
				opacity: 0;
			}

			.icon_remove {
				opacity: 1;
			}
		}
	}

	.icon,
	.icon_remove {
		cursor: pointer;
		@include transition-all;
	}

	.icon {
		path {
			fill: $color-primary;
		}

		&.compare path {
			fill: $color-white;
			stroke: $color-primary;
		}
	}

	.icon_remove {
		position: absolute;
		top: 50%;
		left: 50%;
		opacity: 0;
		translate: -50% -50%;
		@include transition-all;

		path {
			fill: $color-error;
		}

		&.compare path {
			fill: $color-white;
			stroke: $color-error;
		}
	}
}

.title {
	font-size: 22px;
	line-height: 20px;
}

.category {
	display: flex;
	grid-area: category;
}

.tag {
	margin-left: 10px;

	&:hover {
		color: $color-primary;
	}
}

.specifications {
	grid-area: specifications;
	padding: 20px 20px 27px;
	border: 1px solid $color-border2;

	@include tablet {
		padding: 20px 30px 27px;
	}
}

.tabs {
	margin-bottom: 40px;
}
