@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.checkout {
	display: flex;
	flex-direction: column;
	gap: 58px;

	@include tablet {
		flex-direction: row;
		gap: var(--grid-gap);
	}
}

.col_6 {
	flex: 1 1 50%;
}

.title {
	text-transform: uppercase;
	margin-bottom: 8px;
	padding: 5px 0 5px 10px;
	line-height: 30px;
	font-size: 16px;
	font-weight: $weight-medium;
	color: $color-white;
	background-color: $color-dark;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.box {
	display: flex;
	flex-direction: column;
	gap: 24px;
	justify-content: space-between;

	@include tablet-l {
		flex-direction: row;
	}
}

.label {
	& > label {
		text-transform: capitalize;
		margin-bottom: 8px;
		font-weight: $weight-medium;
	}
}

.radio {
	display: flex;
	gap: 30px;
}

.order {
	margin-bottom: 25px;
	width: 100%;

	thead {
		background-color: $color-border2;

		th {
			padding: 15px;
			width: 50%;
			font-weight: $weight-bold;
		}
	}

	tbody {
		td {
			text-transform: capitalize;
			vertical-align: middle;
			text-align: center;
			padding: 15px 10px;
			border: 1px solid $color-border3;

			@include mobile-l {
				padding: 15px;
			}
		}

		.name {
			width: 70%;

			strong {
				text-transform: lowercase;
			}
		}

		.price {
			width: 30%;
		}

		.total td {
			font-weight: $weight-bold;
			border-right: none;
			border-left: none;
		}
	}
}

.account {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-bottom: 20px;

	@include tablet {
		margin-bottom: 35px;
	}

	&:hover {
		.checkbox {
			border-color: $color-primary;
		}
	}
}

.checkbox {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15px;
	height: 15px;
	border: 1px solid $color-border3;
	cursor: pointer;
	@include transition-all;

	&.active {
		border-color: $color-primary;

		.check {
			opacity: 1;
		}
	}
}

.check {
	opacity: 0;
	width: 10px;
	height: 10px;
	fill: $color-primary;
}

.payment {
	display: flex;
	flex-direction: column;
}

.methods {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 7px 10px;
	margin-bottom: 30px;
}

.button {
	padding: 0 10px;
	width: max-content;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;

	&_text {
		letter-spacing: 0;
		text-transform: capitalize;
		line-height: 40px;
		font-size: 14px;
		font-weight: $weight-medium;

		@include tablet {
			font-size: 16px;
		}
	}
}
