@use '@shared/styles/vars' as *;

.brands {
	display: flex;
	flex-direction: column;
	max-height: 200px;
	overflow: hidden;
	@include transition-all;

	&.active {
		max-height: 270px;
		overflow-y: scroll;
	}
}
.brand_item {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 4px 0;
}

.brand {
	margin-right: 5px;
	text-transform: uppercase;
	line-height: 20px;
	font-size: 14px;
}
.quantity {
	margin-left: auto;
	line-height: 22px;
	font-size: 13px;
	color: $color-grey;

	&.active {
		color: $color-dark;
	}
}
.btn_show_more {
	display: inline-flex;
	margin-top: 10px;
	cursor: pointer;
	@include transition-all;

	&:hover {
		color: $color-primary;
	}

	&.active {
		margin-top: 15px;
	}
}

.no_brands {
	padding: 10px 20px 0;
	color: $color-dark4;
	text-align: center;
}

