@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.section {
	position: relative;
	padding: 30px 0;
	background-color: $color-primary;
}

.copyright {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;

	@include tablet {
		flex-direction: column;
	}

	@include tablet-l {
		flex-direction: row;
	}
}

.block {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	gap: 17px;

	@include tablet {
		flex-direction: row;
	}
}

.text {
	line-height: 20px;
	font-size: 13px;
	color: $color-white;

	@include tablet {
		text-align: left;
		line-height: 24px;
		font-size: 14px;
	}
}

.payment {
	justify-content: center;

	@include tablet {
		justify-content: flex-start;
	}
}

.link {
	color: $color-white;
}

.link:hover {
	color: $color-dark;
}

.img {
	width: 60px;
	height: 36px;
}

.version {
	position: absolute;
	right: 20px;
	bottom: 10px;
	opacity: 0.3;
}
