@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.block {
	margin-top: 50px;

	@include tablet {
		margin-top: 60px;
	}
}

.title {
	margin-bottom: 20px;
	text-transform: uppercase;
	line-height: 20px;
	font-size: 15px;
	font-weight: $weight-medium;
}

.comments {
	display: grid;
	gap: 20px;

	@include tablet {
		margin-left: -25px;
	}

	@include tablet-l {
		gap: 30px;
	}
}

.icon {
	margin-bottom: -2px;
	width: 15px;
	height: 14px;
}
