@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.search {
	position: relative;

	&.sticky {
		input,
		button {
			height: 38px;
		}
	}

	input {
		padding: 0 20px 0 10px;
		width: 100%;
		height: 43px;
		border: 1px solid $color-border2;
		border-radius: $border-radius-m;

		&::placeholder {
			letter-spacing: normal;
			line-height: normal;
			font-size: 12px;
			font-family: $WorkSans;
		}
	}

	button {
		padding: 0;
		width: 48px;
		height: 43px;
		border-radius: 0 $border-radius-m $border-radius-m 0;

		svg {
			width: 15px;
			height: 15px;
		}
	}

	@include tablet-l {
		input {
			padding: 0 75px 0 20px;
			height: 45px;
			border-color: $color-border3;
			border-radius: 30px;
			opacity: 0.7;

			&::placeholder {
				font-size: 14px;
			}
		}

		button {
			padding: 0;
			width: 60px;
			height: 45px;
			border-radius: 0 $border-radius-xlg $border-radius-xlg 0;

			svg {
				width: initial;
				height: initial;
			}
		}
	}
}

.error_popover {
	min-height: 45px;
}
