@use '@shared/styles/vars' as *;

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px 20px 30px;
	border: 1px solid $color-border2;
	border-top: none;
}
.text {
	margin-bottom: 25px;
}
.email {
	font-weight: $weight-semi;
}
.actions {
	margin-bottom: 30px;

	button {
		text-transform: none;
		font-weight: $weight-normal;
	}
}
.svg {
	width: 16px;
	height: 16px;
}
.button {
	min-width: 103px;
	padding: 9px 15px;
	letter-spacing: 0;
	line-height: 20px;
	font-size: 12px;
	font-weight: $weight-semi;
	border-radius: 0;
}
