@use '@shared/styles/vars' as *;

.dietaries {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 14px 10px;
}
.dietary {
	padding: 4px 13px;
	font-size: 13px;
	line-height: 24px;
	border: 1px solid $color-border4;
	border-radius: 3px;
	cursor: pointer;
	@include transition-all;

	&.active {
		border-color: $color-primary;
	}

	&:hover {
		border-color: $color-primary;
	}
}
.no_tags {
	padding: 10px 20px 0;
	color: $color-dark4;
	text-align: center;
}
