@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.modal {
	min-width: 300px;
	height: 100%;
	padding: 18px 18px 33px;

	@include tablet {
		min-width: 355px;
		padding: 18px 28px 33px;
	}
}

.header {
	padding-bottom: 10px;
	border-bottom: 1px solid $color-border;
}

.title {
	text-transform: capitalize;
	line-height: 30px;
	font-size: 18px;
	font-weight: $weight-semi;
}

.list {
	border-bottom: 1px solid $color-border;
}

.product {
	position: relative;
	display: grid;
	grid-template-columns: 70px 1fr;
	gap: 10px;
	padding: 20px 0;
	border-bottom: 1px solid $color-border;

	@include tablet {
		grid-template-columns: 85px 1fr;
		gap: 20px;
	}

	@include tablet-l {
		gap: 12px;
	}

	&:last-of-type {
		border-bottom: none;
	}
}

.img_link {
	border: 1px solid transparent;

	&:hover {
		border-color: $color-primary;
	}
}

.name_link {
	display: block;
	max-width: 165px;
}

.name {
	margin-bottom: 6px;
	line-height: 20px;
	font-size: 13px;
	font-weight: $weight-normal;
	transition: inherit;

	@include tablet-l {
		font-size: 14px;
	}

	&:hover {
		color: $color-primary;
	}
}

.price {
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 12px;
}

.btn_remove {
	position: absolute;
	top: 15px;
	right: -5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22px;
	height: 22px;

	.remove_svg {
		width: 9px;
		height: 9px;

		path {
			@include transition-all;
		}
	}

	&:hover {
		.remove_svg path {
			fill: $color-primary;
		}
	}
}

.total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 23px 0;
	font-size: 13px;

	@include tablet-l {
		font-size: 14px;
	}

	span:last-of-type {
		font-weight: $weight-bold;
	}
}

.actions {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.button_link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	text-align: center;
	text-transform: uppercase;
	padding: 13px 0 11px;
	line-height: 20px;
	font-size: 12px;
	font-weight: $weight-medium;
	border: 1px solid $color-border2;
	border-radius: $default-border-radius;
	background-color: $color-grey7;
	@include transition-all;

	&:hover {
		background-color: $color-primary;
		color: $color-white;

		.icon path {
			fill: $color-white;
		}
	}
}

.icon {
	width: 11px;
	height: 11px;
}
