@use '@shared/styles/mixins' as *;
@use '@shared/styles/vars' as *;

.box {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.item {
	display: grid;
	grid-template: auto auto / 50px 1fr;
	grid-template-areas:
		'img author'
		'img text';
	gap: 10px;
}

.img {
	grid-area: img;
	width: 50px;
	min-height: 50px;
	border-radius: $border-round;
	@include skeleton;
}

.author {
	grid-area: author;
	width: 60%;
	height: 14px;
	border-radius: $border-radius-m;
	@include skeleton;
}

.text {
	grid-area: text;
	width: 100%;
	height: 24px;
	border-radius: $border-radius-m;
	@include skeleton;
}
