@import '../../../shared/styles/vars';

.review {
	display: flex;
	width: 100%;
	margin-bottom: 30px;
}
.avatar {
	width: 47px;
	height: 47px;
}
.content {
	position: relative;
	margin-left: 21px;
	padding: 12px;
	width: 100%;
	border-radius: 3px;
	border: 1px solid $color-border2;

	&::before {
		position: absolute;
		content: '';
		top: 10px;
		left: -6px;
		width: 10px;
		height: 10px;
		display: block;
		border-bottom: 1px solid $color-border;
		border-left: 1px solid $color-border;
		background: $color-white;
		transform: rotate(45deg);
	}
}
.info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}
.meta {
	display: flex;
	align-items: center;
	gap: 5px;
}
.author {
	text-transform: uppercase;
	line-height: 24px;
	font-size: 15px;
	font-weight: 500;
}
.date {
	line-height: 18px;
}
.text {
	line-height: 24px;
}
.review_new {

}
.title {
	text-transform: capitalize;
	line-height: 36px;
	font-size: 18px;
	font-weight: $weight-medium;
}
.rating {
	text-transform: capitalize;
	line-height: 30px;
	font-weight: $weight-bold;
}
.label {
	line-height: 24px;
}
.textarea {
	display: flex;
	flex-direction: column;

	textarea {
		padding-top: 5px;
		padding-bottom: 10px;
		height: 120px;
		resize: none;
		width: 100%;
	}
}
.input {
	padding: 0 20px;
	min-height: 40px;
	border: 1px solid $color-border3;
}
.btn_text {
	line-height: 20px;
	font-size: 13px;
	color: $color-white;
	font-weight: $weight-medium;
}
