@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.profile {
	display: flex;
	flex-direction: column;
	gap: 20px;

	@include tablet {
		gap: 20px;
	}
}

.svg {
	width: 16px;
	height: 16px;
}

.verify_email {
	grid-area: note;
	justify-content: start;
	grid-auto-flow: row;
	line-height: 15px;

	@include breakpoint(820px) {
		grid-auto-flow: column;
	}

	button {
		text-align: start;
		letter-spacing: 0;
		font-weight: $weight-normal;
	}
}
