@import '../../../shared/styles/vars';

.profile {
	display: grid;
	grid-template: "note note note" auto
		"main main aside" auto "main main aside" auto / 1fr 480px 170px;
	gap: 0 100px;
}
.svg {
	width: 16px;
	height: 16px;
}
.verify_email {
	grid-area: note;
	margin-bottom: 20px;
}
