.strength {
	position: absolute;
	top: 0;
	left: 0;
	background-color: $color-white;
	overflow: hidden;
	white-space: nowrap;
	transform: translateX(calc(-100% - 40px));

	.fill {
		height: 3px;
		transition: width 0.3s ease;

		&.weak {
			background: $color-error;
		}

		&.average {
			background: $color-warning;
		}

		&.good {
			background: $color-primary;
		}
	}
}

.text {
	display: flex;
	align-items: center;
	gap: 3px;
	margin-top: 4px;

	& span {
		font-size: 14px;
	}
}

.status {
	text-transform: capitalize;
	font-weight: $weight-semi;
}

.animateEnter {
	opacity: 0;
	transform: translateX(calc(-100% - 30px));
}

.animateEnterActive {
	opacity: 1;
	transform: translateX(calc(-100% - 40px));
	transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.animateEnterDone {
	opacity: 1;
	transform: translateX(calc(-100% - 40px));
}

.animateExit {
	opacity: 1;
	transform: translateX(calc(-100% - 40px));
}

.animateExitActive {
	opacity: 0;
	transform: translateX(calc(-100% - 40px));
	transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.animateExitDone {
	opacity: 0;
	transform: translateX(calc(-100% - 30px));
}
