@import '../../shared/styles/vars';

.section {
	background-color: $color-section-bg;
}
.page {
	display: grid;
	justify-content: center;
	text-align: center;
	padding: 200px 100px;
}
.title {
	text-transform: capitalize;
	margin-bottom: 15px;
	font-size: 32px;
}
.text {
	font-size: 16px;
	margin-bottom: 30px;
	color: $color-dark3;
}
.hello {
	margin-bottom: 15px;
	font-size: 19px;
	font-weight: $weight-normal;

	span {
		font-weight: $weight-medium;
		color: $color-primary;
	}
}
.description {
	margin: 0 auto;
	max-width: 430px;
}
.contact {
	margin: 40px auto 0;
	max-width: 280px;
}
