@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.section {
	border: 1px solid $color-border;
	border-radius: $border-radius-lg;
	scroll-margin-top: 80px;
}

.header {
	padding-top: 16px;
	padding-left: 16px;
	letter-spacing: 0;
	line-height: 20px;
	font-weight: $weight-semi;
}

.list {
	display: grid;
	grid-template-columns: 1fr;
	padding-left: 16px;

	@include mobile-l {
		grid-template-columns: repeat(2, 1fr);
	}

	@include tablet {
		grid-template-columns: repeat(3, 1fr);
	}

	@include tablet-l {
		grid-template-columns: repeat(4, 1fr);
	}
}

.item {
	margin: 16px 0 16px 16px;
}

.link {
	display: inline-flex;
	letter-spacing: 0;
	line-height: 20px;
	color: $color-primary;
	cursor: pointer;
}
