@import '../../shared/styles/vars';

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 420px;
	padding: 25px 20px 30px;
	border: 1px solid $color-border2;
}

.input_code {
	align-self: center;
	max-width: 150px;

	input {
		text-align: center;
		padding: 7px 20px;
		letter-spacing: $letter-spacing-lg;
		line-height: 26px;
		font-size: 20px;
		font-weight: $weight-semi;

		&::placeholder {
			letter-spacing: $letter-spacing-lg;
			color: $color-grey;
		}
	}
}

.input_password {
	& > label {
		margin-bottom: 12px;
		letter-spacing: $letter-spacing-lg;
		line-height: 12px;
		font-size: 16px;
	}
}

.resend_code {
	align-self: center;
}

.btn {
	display: inline-flex;
	align-self: center;
	border-radius: $border-radius-xl;
	height: 34px;
	padding: 0 20px;
}

.btn_text {
	text-transform: uppercase;
	letter-spacing: $letter-spacing-lg;
	font-weight: $weight-bold;
	line-height: 26px;
	font-size: 12px;
}

.check_mail {
	display: inline-flex;
	align-self: center;
	padding: 9px 20px;
	background-color: $color-primary;
	border-radius: $default-border-radius;

	&:hover {
		background-color: $color-dark;
	}

	&_text {
		text-transform: uppercase;
		line-height: 20px;
		font-size: 12px;
		font-weight: $weight-semi;
	}
}

.validate {
	display: flex;
	align-items: center;
	align-self: center;
	gap: 10px;

	.text {
		flex-shrink: 0;
	}
}

.validate_success {
	display: flex;
	align-self: center;
}
