@use '@shared/styles/vars' as *;

.svg {
	width: 16px;
	height: 16px;
}
.verify_email {
	grid-area: note;
	margin-bottom: 20px;
}
.title {
	margin-bottom: 15px;
	letter-spacing: $letter-spacing-lg-neg;
	line-height: 19px;
	font-size: 20px;
	font-weight: $weight-medium;
}
.table {
	border: 1px solid $color-border2;
	border-collapse: collapse;
	width: 100%;
	max-width: 510px;

	.thead {
		background-color: $color-border2;

		tr {
			border-bottom: 1px solid $color-dark;
		}

		& tr th {
			padding: 8px;
			width: 170px;
			font-weight: $weight-bold;
		}
	}
}
