@use '@shared/styles/mixins' as *;
@use '@shared/styles/vars' as *;

.header {
	margin-bottom: 12px;
	width: 100%;
	min-height: 41px;
	border-radius: $border-radius-m;
	@include skeleton;
}

.row {
	min-height: 32px;
	width: 100%;
	border-radius: $border-radius-m;
	@include skeleton;

	&:not(:last-child) {
		margin-bottom: 7px;
	}
}
