@use '@shared/styles/mixins' as *;
@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.box {
	display: flex;
	gap: 9px;
}

.button {
	width: 30px;
	min-height: 30px;
	border-radius: $border-radius-m;
	@include skeleton;

	&:nth-child(2),
	&:nth-last-child(2) {
		display: none;
		width: 41px;

		@include mobile-l {
			display: block;
		}
	}
}
