@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.item {
	position: relative;
	height: 280px;
	background-color: $color-section-bg;
	overflow: hidden;

	@include tablet {
		height: 320px;
	}

	@include tablet-l {
		height: 350px;
	}

	@include tablet-l {
		height: 350px;
	}

	@include laptop-m {
		height: 386px;
	}

	@include desktop-s {
		height: 550px;
	}
}

.img {
	position: absolute;
	top: 110px;
	right: -75px;
	height: 70%;
	width: auto;
	object-fit: cover;
	z-index: $z-index10;
	transform: translateX(clamp(0%, 50vw, 0%));

	@include mobile-l {
		top: 50px;
		right: -80px;
		height: 82%;
	}

	@include tablet-s {
		top: 0;
		right: -80px;
		height: 100%;
	}

	@include tablet {
		right: -50px;
	}

	@include breakpoint(1300px) {
		right: 0;
		transform: translateX(clamp(0%, 4vw, 20%));
	}
}

.inner {
	position: relative;
	height: 100%;
	z-index: $z-index90;
}

.container {
	height: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	max-width: 480px;
	height: 100%;

	@include laptop-m {
		max-width: 550px;
	}
}

.title {
	margin-bottom: 6px;
	text-transform: capitalize;
	line-height: 26px;
	font-size: 25px;
	font-weight: $weight-semi;

	@include tablet {
		margin-bottom: 8px;
		font-size: 35px;
	}

	@include tablet-l {
		font-size: 38px;
	}

	@include laptop-m {
		font-size: 48px;
	}
}

.subTitle {
	margin-bottom: 14px;
	text-transform: capitalize;
	font-size: 22px;
	font-weight: $weight-light;

	@include tablet {
		font-size: 26px;
	}

	@include tablet-l {
		margin-bottom: 18px;
		font-size: 30px;
	}

	@include laptop-m {
		font-size: 36px;
	}
}

.text {
	text-align: left;
	margin-bottom: 20px;
	max-width: 70%;
	line-height: 23px;
	font-size: 14px;
	font-weight: $weight-light;

	@include mobile-l {
		max-width: 60%;
	}

	@include tablet-s {
		max-width: 300px;
	}

	@include tablet {
		margin-bottom: 34px;
		max-width: 350px;
		font-size: 15px;
	}

	@include laptop {
		margin-bottom: 40px;
		max-width: 75%;
		font-size: 16px;
	}

	@include desktop-s {
		max-width: 65%;
	}
}

.btn {
	padding: 0 20px;
	height: 35px;

	@include tablet {
		padding: 0 25px;
		height: 44px;
	}
}

.btn_text {
	text-transform: uppercase;
	letter-spacing: $letter-spacing-md;
	font-size: 12px;

	@include tablet {
		font-size: 15px;
	}
}

.loading {
	text-align: center;
	display: block;
	width: 100%;
	height: 550px;
	min-height: 550px;
	line-height: 550px;
	font-size: 28px;
	font-weight: $weight-medium;
}

.dot {
	display: inline-block;
	margin: 0 3px;
	width: 14px;
	height: 14px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	background-color: $color-section-bg;
	box-shadow: 0 0 0 2px $color-white inset;
	@include transition-all;

	&:hover {
		box-shadow: 0 0 0 2px $color-primary inset;
		background-color: $color-primary;
	}
}
