@use '@shared/styles/vars' as *;
@use '@shared/styles/breakpoints' as *;

.box {
	display: flex;
	flex-direction: column;
	gap: 20px;

	@include tablet {
		gap: 45px;
	}
}

.section {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding: 15px 0 20px 22px;

	@include tablet {
		padding: 20px 0 20px 42px;
	}

	&::before {
		position: absolute;
		content: '';
		top: 0;
		bottom: 0;
		left: 0;
		width: 37px;
		border-left: 4px solid $color-primary;
		background-color: $color-sort;
		z-index: $z-index-1;

		@include tablet {
			width: 60px;
		}
	}

}

.group {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.title {
	text-transform: capitalize;
	line-height: 28px;
	font-size: 24px;
	font-weight: $weight-bold;

	@include tablet-s {
		line-height: 30px;
		font-size: 26px;
	}

	@include tablet {
		line-height: 35px;
		font-size: 30px;
	}
}

.list {
	column-count: 1;
	column-gap: 50px;
	padding-left: 40px;

	&.top_20 {
		@include tablet-s {
			column-count: 1;
		}

		@include tablet {
			column-count: 2;
		}

		@include tablet-l {
			column-count: 3;
		}
	}

	@include tablet-s {
		column-count: 2;
	}

	@include tablet {
		column-count: 2;
	}

	@include tablet-l {
		column-count: 3;
	}
}

.item {
	position: relative;
	display: flex;
	align-items: center;
	padding-left: 20px;
	gap: 10px;
	break-inside: avoid;
	max-width: max-content;

	&::before {
		position: absolute;
		content: '';
		top: 10px;
		left: 7px;
		width: 4px;
		height: 4px;
		background-color: black;
	}

	&:not(:last-of-type) {
		margin-bottom: 1px;
	}

	.badge {
		right: -10px;
	}
}

.url {
	text-transform: capitalize;
	letter-spacing: $letter-spacing-lg;

	&.active {
		color: $color-primary;
	}

	&:hover {
		color: $color-primary;
	}
}

.category_group {
	display: grid;
	grid-template-columns: 1fr;
	align-items: start;
	gap: 15px 0;
	padding-left: 30px;

	@include tablet-s {
		grid-template-columns: repeat(2, 1fr);
		gap: 20px var(--grid-gap);
	}

	@include tablet-l {
		grid-template-columns: repeat(3, 1fr);
	}
}

.category_group_title {
	font-weight: $weight-semi;
}

.category_group_item {
	position: relative;
	display: flex;
	flex-direction: column;
}

.category_list {
	padding-left: 20px;
}

.group_list_item {
	position: relative;
	padding-left: 20px;

	&::before {
		position: absolute;
		content: '';
		top: 10px;
		left: 7px;
		width: 4px;
		height: 4px;
		background-color: black;
	}
}
