.section {
    margin-top: 28px;
}
.heading {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: var(--color-dark-medium);
    text-transform: uppercase;
}
.posts {
    margin-top: 20px;
}
.wrapper {
    display: flex;
    margin-top: 15px;
}
.wrapper:focus {
    outline: 0;
}
.wrapper:hover .hover_container {
    display: block;
}
.block {
    margin-left: 10px;
    width: 100%;
}
.img {
    width: 60px;
    height: 42px;
}
.hover_container {
    display: none;
    width: 180px;
    position: absolute;
    margin-top: -80px;
    margin-left: -210px;
    background-color: var(--color-white);
}
.img_hidden {
    width: 100%;
}
.title_hidden {
    text-align: center;
    margin-top: 5px;
    padding: 0 3px;
    font-weight: 500;
    color: var(--color-dark-medium);
}
.text_hidden {
    width: 100%;
    margin-top: 5px;
    padding: 0 3px 5px;
    font-size: 12px;
    color: var(--color-dark-medium);
}
.title {
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    color: var(--color-dark-medium);
}
.date {
    margin-top: 5px;
    font-size: 12px;
    line-height: 24px;
    color: var(--color-dark-medium);
}